@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/Cinzel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* globals.css */

/* Hide scrollbar everywhere but keep scrolling */
html, body {
  overflow-y: scroll; /* scrolling still works */
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

